<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052300590733-d4v8pruun7pbv5elkvo36acmsli2g3ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052300590733-d4v8pruun7pbv5elkvo36acmsli2g3ce</string>
	<key>API_KEY</key>
	<string>AIzaSyDpGDnipNbv7po6DirvtHStJOSVdPrQjkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1052300590733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>asn-chat-ca028</string>
	<key>STORAGE_BUCKET</key>
	<string>asn-chat-ca028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052300590733:ios:1a5aa60a7af8a890b16cc4</string>
</dict>
</plist>